.main-container{
    text-align: center;
    width: 100%;
    height: max-content;
}
h1{
    color: rgba(0, 0, 255, 0.603);
}
.game-board-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 10px;
    margin-right: 10px;
}
.reset-button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    background-color: rgba(0, 0, 255, 0.856);
}